# Database connection string
DATABASE_URL="postgresql://postgres:password@localhost:5432/taco_quest?schema=public"

# For Supabase
# DATABASE_URL="postgresql://postgres:your-password@db.your-project-ref.supabase.co:5432/postgres"
